

    .flex-principal {
        display: flex;
        position:relative;
        width: 100%;

    }
    .menu-instagram {
       width:20%;
       display: flex;
       padding: 0px;
       height: 2000px;
       background-color: white;
       margin-left: 5%;
       position: absolute;
}

    .menu-instagram > div{
        width:40%;
        height:30px;
        margin : 20px;
        float: left;
        transition: box-shadow .3s;


    }
   

    .sec-profil {
        width: 70%;
        height: 2500px;
        background-color:beige;
        margin-left: 25%;
        margin-top: 0px;
        position: absolute;
        display: flex;
    }

    .sec-picture{
        position: absolute;
        margin-left:16%;
        margin-top: 3%;
        width: 150px;
        height: 150px;
        display: flex;
        }
    
        .button {
    position: absolute;
    background-color:rgb(65, 65, 218);
    color: #fff;
    border:none; 
    border-radius:5px; 
    padding:10px;
    min-height:11px; 
    min-width: 80px;
    margin-left: 49%;
    margin-top: 5%;
    font-size: 12px
  }
    
  .font-name {
  font-family: Arial, sans-serif;
  font-weight:100;
}

 .name-user{
    margin-left: 37%;
    margin-top: 4%;
    font-size:15px;
 }


 .profil-info-div{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 130px;
  align-items: center;
  background-color: beige;
  margin-top: 120px;
  margin-left: 35%;
  width: 450px;
}

 .profil-info-div> div {
  background-color: beige;
  width: 120px;
  margin: 15px;
  text-align: center;
  line-height: 30px;
  font-family: Arial, sans-serif;
  font-weight:100;
  font-size: 15px;
}

 .flex-buttom{
    background-color:beige;
    display:flex;
    position:absolute;
    margin-left: 57%;
    margin-top: 5%;
 }
  
 .flex-status{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 130px;
  align-items: center;
  background-color: beige;
  margin-top: 300px;
  margin-left: 10%;
  width: 60%;
 }

 .flex-status> div {
  background-color: beige;
  width: 120px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-weight:100;
  font-size: 15px;
}


.bar-media {
       width:100%;
       padding: 0px;
       height:52px ;
       background-color: beige;
       margin-left: 0%;
       margin-top: 450px;
       position: absolute;
       display: flex;
       justify-content: center;
       border-top: 2px solid grey;
}

    .bar-media > div{
        width:15%;
        height: 52px;
        margin :0px;

    }

    .album {
       width:100%;
       padding: 0px;
       height:52px ;
       background-color: beige;
       margin-left: 0%;
       margin-top: 502px;
       justify-content: center;
       position: absolute;
       display: flex;
       flex-wrap: wrap;
    }

    .album > div{
        width:321px;
        height: 293px;
        margin :5px;
        

    }
    a:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #b98383;
}

.last-bar1{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 25px;
  align-items: center;
  background-color: beige;
  margin-top: 2330px;
  margin-left: 20%;
  width: 80%;
 }

 .last-bar1> div {
  background-color: beige;
  width: 40px;
  margin: 0px;
  text-align: center;
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-weight:100;
  font-size: 11px;
  color: grey;
}
.last-bar2{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 25px;
  align-items: center;
  background-color: beige;
  margin-top: 2355px;
  margin-left: 20%;
  width: 80%;
 }
 .last-bar2> div {
  background-color: beige;
  width: 40px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-weight:100;
  font-size: 11px;
  color: grey;
}

.image-status{
    width:77px;
    height:77px;
    border-radius: 50%;
}

.menucolumn{
    width:80%;
    flex-direction: column;
    display: flex;
    padding: 0px;
    height: 700px;
    background-color: white;
    margin-left: 5%;
    margin-top: 200px;
    position:absolute;

}
 .menucolumn > div{
    width:80%;
    height:30px;
    margin : 20px;
    font-family: Arial, sans-serif;
    display: flex;
    }

.menucolumn> div>div{
    width:80%;
    display: flex;
    padding: 0px;
    height: 30px;
    background-color: white;
    margin: 15px;}


